@model UgraTestPoll.ViewModels.AskedQuestionViewModel

@using UgraTestPoll.ViewModels;

<tr>
    <td>
        @Html.HiddenFor(x => x.QuestionText)
        @Html.HiddenFor(x => x.Type)
        @Html.HiddenFor(x => x.Number)
        @Html.DisplayFor(x => x.Number)
        @Html.DisplayFor(x => x.QuestionText)
    </td>
</tr>
<tr>
    <td>
        <ul>
            @if (Model.Type == AskedQuestionType.Radio)
            {
                for (int i = 0; i < Model.Answers.Count(); i++)
                {
                    @Html.HiddenFor(x => x.Answers[i].AnswerID)
                    @Html.HiddenFor(x => x.Answers[i].Text)
                    <li>
                        @Html.RadioButtonFor(x => x.SelectedAnswerID, Model.Answers[i].AnswerID)
                        @Html.DisplayFor(x => x.Answers[i].Text)
                    </li>
                }
            }
            else if (Model.Type == AskedQuestionType.Checkbox)
            {
                for (int i = 0; i < Model.Answers.Count(); i++)
                {
                    <li>
                        @Html.HiddenFor(x => x.Answers[i].AnswerID)
                        @Html.HiddenFor(x => x.Answers[i].Text)
                        @Html.CheckBoxFor(x => Model.Answers[i].Checked)
                        @Html.DisplayFor(x => Model.Answers[i].Text)
                    </li>
                }
            }
            else if (Model.Type == AskedQuestionType.Input)
            {
                <li>
                    @Html.HiddenFor(x => x.Answers[0].AnswerID)
                    @Html.EditorFor(x => x.Answers[0].Text)
                </li>
            }
        </ul>
    </td>
</tr>
